<section class="text-segment">
      <h2>
        Een wereld in volle harmonie
      </h2>
      <p>
        Hoi, ik ben Laura. Ik zal eerlijk zijn: ik ben een idealist. Ik heb ConnectingJourneys opgericht omdat ik geloof dat we een betere wereld kunnen maken. 
      </p>
      <p>
        Een mooiere wereld. Waarin mensen beter samenwerken en elkaar verstaan. Waarin mensen leven met bewuste aandacht voor zichzelf, elkaar en de natuur. En waarin jij autonoom en bevlogen in het leven staat.
      </p>
      <p>
        Een duurzame wereld in harmonie, waarin
        iedereen er toe doet. Het begint bij het
        individu, maar met elkaar kunnen we
        blijvend het verschil maken.
      </p>
      <p>
        Naïef? Vind ik niet. 
      </p>
      <p>
        Ik geloof dat er namelijk maar één ding voor nodig is: meer verbinding. 
      </p>
      <p>
        Daarom organiseer ik met ConnectingJourneys reizen die precies dat doen: inspireren en verbinden. Met een bijzonder persoonlijke aanpak. Daarom zie je ook zo weinig “voorverpakte” reizen op deze website. Ik help je iets te vinden dat precies bij jou past.
      </p>
      <p>
        Ik organiseer reizen die iets met je doen. Niet een standaard vakantie, maar juist reizen die je uitdagen om iets te leren over de wereld, over andere culturen en zéker ook over jezelf. En je daardoor meer verbonden maken.
      </p>
      <p>
        Op reis heb je de ruimte om je te verdiepen in sociaal maatschappelijke onderwerpen op het gebied van bewustzijn, zingeving, vitaliteit, groei en ontwikkeling, cultuur, natuur, maatschappelijk verantwoord ondernemen en zakelijk succes.
      </p>
