<div class="footer-connecting-journeys">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-lg-3">
        <h3>
          Contact
        </h3>
        <ul class="list-unstyled">
          <li>
            Laura Hogervorst
          </li>
          <li>
            Telefoon
          </li>
          <li>
            Email
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-lg-3">
        <h3>
          Reizen
        </h3>
        <ul class="list-unstyled">
          <li>
            Op maat
          </li>
          <li>
            Voor bedrijven
          </li>
          <li>
            Voor NGO's
          </li>
          <li>
            Voor scholen
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-lg-3">
        <h3>
          Social
        </h3>
        <ul class="list-unstyled">
          <li>
            xxx
          </li>
          <li>
            xxx
          </li>
          <li>
            xxx
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-lg-3">
        <h3>
          Voorwaarden
        </h3>
        <ul class="list-unstyled">
          <li>
            xxx
          </li>
          <li>
            xxx
          </li>
          <li>
            xxx
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>