<div class="main-wrapper">
  <div class="banner-blank" style="background-image:url('<%= image_path 'header.jpg' %>');">
  </div>

  <div class="container marged">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-xs-12">
        <div class="bio-container text-center">
          <%= image_tag 'http://placehold.it/200/200', class: "avatar" %>
          <p>
            Hoi. Ik ben Laura. <br>
            Ik kan je helpen de reis te organiseren die <br>
            perfect past bij wat jij wil bereiken. <br>
            Een uitdagend programma op maat. <br>
          </p>
          <p>
            Bel of mail me gerust. Ik kom graag met je in <br>
            gesprek!
          </p>
          <p>
            Telefoon: 06 - 11 322 069 <br>
            Email:  <a href="mailto:info@connectingjourneys.com?Subject=Hallo!" target="_blank">info@connectingjourneys.com</a>
          </p>
        </div>
      </div>
      <div class="col-lg-5 col-xs-12">
        <div class="contact-form">
          <h2>
            Wat kan ik voor je doen?
          </h2>
          <form action="#">
            <div class="form-group">
              <input type="text" class="form-control" name="Naam" placeholder="Naam">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="Bedrijf" placeholder="Bedrijf">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="E-mailadres" placeholder="E-mailadres">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="Telefoonnummer" placeholder="Telefoonnummer">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="Onderwerp" placeholder="Onderwerp">
            </div>
            <div class="form-group">
              <textarea name="Bericht" class="form-control" id="" cols="30" rows="10" placeholder="Bericht"></textarea>
            </div>
            <input type="submit" value="Verstuur" class="button-outline purple">
          </form>
        </div>
      </div>
    </div>
  </div>

</div>