@media (max-width: 768px) {
  .banner-full-width {
    .banner-content {
      padding: 13px;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 19px;
      }
      a {
        font-size: 13px;
      }
    }
  }
}

@media (min-width: 768px) {
  .banner-full-width {
    .banner-content {
      p {
        font-size: 24px;
      }
    }
  }
}


.banner-full-width {
  width: 100%;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner-content {
    text-align: center;
    color: white;
    h1 {
      font-weight: bolder;
    }
    p {
      font-family: "Como", "Helvetica", "sans-serif";
      font-weight: normal;
      margin: 20px 0px;
      line-height: 31px;
      // max-width: 600px;
      margin: 10px auto;
    }
    .button-outline {
      display: inline-block;
      margin-top: 20px;
    }
  }
}

.banner-blank, .banner-nav {
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  width: 100%;
}

.banner-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  .banner-content {
    color: white;
    h2 {
      color: white;
      font-weight: medium;
    }
    ul {
      span {
        color: white;
      }
      .banner-nav-item {
        color: white;
        font-family: "Como", "Helvetica", "sans-serif";
        font-weight: normal;
        font-size: 24px;
        &:hover {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }
      .banner-nav-item.active {
        font-weight: bolder;
      }
    }
  }
}

.banner-content .subheader {
  margin: 0;
  font-family: "Como", "Helvetica", "sans-serif";
  font-size: 24px;
  font-weight: normal;
}

