.bio-container {
	.avatar-container {
		display: flex;
		justify-content: center;
		align-items: center;
	.avatar-big {
		height: 300px;
		width: 300px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		margin: 20px 0;
	}
	}
}
