.button-outline {
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: lighter;
  &:hover {
    text-decoration: none;
  }
}

.button-outline.purple {
  border-color: $purple;
  color: $purple;
}

.button-outline.white {
  border-color: white;
  color: white;
}

.button-outline.orange {
  border-color: $orange;
  color: $orange;
  margin-top: 10px;
  display: inline-block;
}

.button-simple {
  color: $orange;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}
