.button-outline {
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size:17px;
  font-family: "Como", "Helvetica", "sans-serif";
  &:hover {
    text-decoration: none;
  }
}

.button-outline.purple {
  border-color: $purple;
  color: $purple;
  transition: all 200ms ease;
  background-color: transparent;
  &:hover {
    background-color: $purple;
    color: white;
    text-decoration: none;
  }
}

.button-outline.white {
  border-color: white;
  color: white;
  transition: all 200ms ease;
  &:hover {
    background-color: white;
    color: $gray;
    text-decoration: none;
  }
}

.button-outline.orange {
  border-color: $orange;
  color: $orange;
  margin-top: 10px;
  display: inline-block;
  transition: all 200ms ease;
  &:hover {
    background-color: $orange;
    color: white;
    text-decoration: none;
  }
}

.button-simple {
  font-family: 'Como';
  color: $orange;
  font-weight: bolder;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}
