.small-header {
  font-size: 16px;
  font-weight: bold;
  font-family: "Como", "Helvetica", "sans-serif";
  .fas {
    font-size: 40px;
    margin: 15px 0px;
  }
}

.header-bolder {
  font-weight: bolder;
}

.purple-header {
  margin-bottom: 20px;
  h2 {
    color: $purple;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .h1-style {
    font-size: 33px;
  }
  .tagline {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .h1-style {
    font-size: 44px;
  }
  .tagline {
    font-size: 24px;
  }
}

.h1-style {
  font-weight: bold;
}
