.navbar-connecting-journeys-container {
  background-color: white;
  width: 100%;
}

.navbar-connecting-journeys {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-connecting-journeys-right {
  margin: 0;
  display: flex;
  align-items: center;
  .dropdown {
    a.active {
      font-weight: bolder;
    }
  }
}

.navbar-connecting-journeys-link {
  color: $gray;
  font-weight: lighter;
  margin: 0 5px;
  text-decoration: none;
  &.active {
    font-weight: bolder;
    text-decoration: none;
  }
  &:hover {
   font-weight: bolder; 
   text-decoration: none;
 }
}

@media (max-width: 768px) {
  .navbar-connecting-journeys {
    flex-direction: column;
    margin: 20px 0;
    .logo {
      height: 40px;
    }
    ul.navbar-connecting-journeys-right {
      margin: 20px 0;
    }
  }
}

@media (min-width: 768px) {
  .navbar-connecting-journeys {
    flex-direction: row;
    margin: 40px 0;
    .logo {
      height: 50px;
    }
  }
}
