.navbar-connecting-journeys-container {
  background-color: white;
  width: 100%;
}

.navbar-connecting-journeys {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  .logo {
    height: 50px;
  }
}

.navbar-connecting-journeys-right {
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar-connecting-journeys-link {
  color: $gray;
  font-weight: lighter;
  margin: 0 5px;
}