.wrapper-white {
  background-color: white;
  width: 100%;
  padding: 20px 0px;
}

.wrapper-purple {
  background-color: $purple;
  width: 100%;
  padding: 20px 0px;
}

.wrapper-green {
  background-color: $light-green;
  width: 100%;
  padding: 20px 0px;
}

.wrapper-dark-gray {
  background-color: $dark-gray;
  width: 100%;
  padding: 50px 0px;
}

.wrapper-light-gray {
  background-color: $light-gray;
  width: 100%;
  padding: 50px 0px;
}
