.wrapper-white {
  background-color: white;
  width: 100%;
}

.wrapper-purple {
  background-color: $purple;
  width: 100%;
}

.wrapper-green {
  background-color: $green;
  width: 100%;
}

.wrapper-dark-gray {
  background-color: $dark-gray;
  width: 100%;
}


.wrapper-light-gray {
  background-color: $light-gray;
  width: 100%;
}