<div class="main-wrapper">
  <div class="banner-nav" style="background-image:url('<%= image_path 'header.jpg' %>');">
    <div class="banner-content text-center">
      <h2>
        Hardloopreis XtraRun4Ethiopia
      </h2>
      <p>
        "Een sportieve kennismaking met hét ultieme hardloopland"
      </p>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="inspiration-text text-center">
          <p>
            10 km hardlopen<br>
            Op 2.500m hoogte in Addis Ababa tijdens de Great Ethiopian Run<br>
            Ethiopië op een unieke wijze ervaren<br>
            Wat een warme gastvrije bevolking en prachtige natuur<br>
            Een sociaal doel steunen<br>
            Bijdragen aan extra kansen voor kinderen met een beperking in Ethiopië<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

