<div class="main-wrapper">
  <div class="banner-nav" style="background-image:url('<%= image_path 'header.jpg' %>');">
    <div class="banner-content text-center">
      <h2>
        Hardloopreis XtraRun4Ethiopia
      </h2>
      <p>
        "Een sportieve kennismaking met hét ultieme hardloopland"
      </p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="journey-description">
        <p>
          "Ethiopiërs vereren hun hardloopkampioenen als helden. Hardlopen is voor Ethiopiërs een uiting van hun cultuur. Sommigen beoefenen de sport op hoog niveau en dromen van een carrière als professionele atleet, anderen zien het gewoon als een gezond ochtendritueel en een leuk tijdverdrijf. Door alle lagen van de bevolking heen is het een sport met betekenis; hardlopen verbroedert, overbrugt verschillen in afkomst en sociale status en zet Ethiopië internationaal op de kaart. Ze zijn trots op hun hardloopcultuur en dat laten ze je graag aan je zien!"
        </p>
      </div>
    </div>
    <div class="col-xs-6">
      <ul class="list-unstyled">
       <li>
        <span class="identifier">Data:</span> Van zaterdag 10 t/m woensdag 21 november 2018 & november 2019
      </li>
      <li>
        <span class="identifier">Duur:</span> 12 dagen 
      </li>
      <li>
        <span class="identifier">Waar:</span> Ethiopië: Addis Ababa, Bekoji, Bale Mountains, Hawassa  
      </li>
      <li>
        <span class="identifier">Aantal km:</span> 10 km op 2.500m hoogte
      </li>
      <li>
        <span class="identifier">Voor wie:</span> Iedereen die van hardlopen houdt, de Ethiopische cultuur wil leren kennen en bij wil 
        dragen aan het onderwijsproject van StartUp4kids 
      </li>
      <li>
        <span class="identifier">Wat:</span>
        <ul>
          <li>Je bezoekt de onderwijsprogramma’s, zodat je met eigen ogen kunt zien waar het sponsorgeld aan 
            besteedt wordt
          </li>
          <li>
            Je doet mee aan de ‘Great Ethiopian Run’, het grootste hardloopevenement van Afrika
          </li>
          <li>
            10km hardlopen op 2.500m hoogte
          </li>
          <li>
            Je maakt kennis met hardlooplegende Haile Gebreselassie
          </li>
          <li>
            Je traint met professionele hardloopgidsen
          </li>
          <li>
            Je bezoekt de plaats Bekoji waar de wereldberoemde atleten vandaan komen en waar je
          </li>
          <li>
            met je toekomstig hardlooptalent gaat trainen
          </li>
          <li>
            Je ervaart de Ethiopische cultuur samen met de lokale bevolking
          </li>
          <li>
            Je maakt kennis met de prachtige natuur van Ethiopië in Bale Mountains en Lake Hawassa
          </li>
        </ul>
      </li>
      <li>
        <span class="identifier">Deelnemers:</span> minimaal 8, maximaal 14 personen per reis
      </li>
      <li>
        <span class="identifier">Inschrijving:</span> Je kunt je inschrijven als individu, met een groep of met een bedrijfsteam
      </li>
    </ul>
  </div>
</div>
</div>