<div class="main-wrapper">
  <div class="background-half-white"></div>
  <div class="banner-nav" style="background-image:url('<%= image_path 'header.jpg' %>');">
    <div class="banner-content text-center">
      <h2>
        Hardloopreis XtraRun4Ethiopia
      </h2>
      <p>
        "Een sportieve kennismaking met hét ultieme hardloopland"
      </p>
    </div>
  </div>


  <div class="container marged">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="journey-description">
          <!-- Set up your HTML -->
          <div class="owl-carousel owl-theme">
            <% ['a', 'b', 'c', 'd', 'e'].each do |item| %>
            <div class="carousel-image text-center">

              <a href="http://placehold.it/500/500" class="swipebox" title="My Caption">
                <div class="carousel-image-item" style="background-image:url('http://placehold.it/500/500');"></div>
              </a>

            </div>
            <% end %>
          </div>
          <div class="owl-custom-nav">
            <div class="owl-previous-custom owl-nav-chevron"><i class="fas fa-chevron-left"></i></div>
            <div class="owl-next-custom owl-nav-chevron"><i class="fas fa-chevron-right"></i></div>
          </div>
          <h2>
            Over deze reis
          </h2>
          <p>
            "Ethiopiërs vereren hun hardloopkampioenen als helden. Hardlopen is voor Ethiopiërs een uiting van hun cultuur. Sommigen beoefenen de sport op hoog niveau en dromen van een carrière als professionele atleet, anderen zien het gewoon als een gezond ochtendritueel en een leuk tijdverdrijf. Door alle lagen van de bevolking heen is het een sport met betekenis; hardlopen verbroedert, overbrugt verschillen in afkomst en sociale status en zet Ethiopië internationaal op de kaart. Ze zijn trots op hun hardloopcultuur en dat laten ze je graag aan je zien!"
          </p>

          <div class="charity">
            <h4>
              Onderwijs voor kinderen met een beperking
            </h4>
            <p>
              Middels deelname aan deze reis en jouw sponsorbijdrage wordt aanvullend onderwijs gefinancierd voor kinderen met een beperking ter voorbereiding op financiële zelfstandigheid en ter vergroting van hun zelfvertrouwen. Zij ontdekken hun talenten en leren deze benutten, waardoor zij hun eigen toekomst kunnen creëren zoals zíj die wensen!
            </p>
            <p>
              Kinderen met een beperking behoren in Ethiopië tot de kwetsbaarste en kansarmste groepen in de samenleving. Zij worden gediscrimineerd en uitgesloten van deelname aan onderwijs en werk. De overheid heeft geen oog voor deze groep, de kinderen zijn volledig afhankelijk van hun familie en hun omgeving. 
            </p>
            <p>
              XtraRun4Ethiopia is een initiatief van StartUp4kids die ernaar streeft wereldwijd sociaal achtergestelde kinderen extra scholing te bieden, waarmee ze leren zich te ontplooien, kansen te benutten en hun eigen dromen waar te maken.
            </p>
            <p>
              <h4>
                Ga je mee over de finish? 
              </h4>
              <p>
                Kijk voor de reiskosten, het sponsorgeld en aanmelden op <a href="https://www.startup4kids.nl/hardloopreizen/">https://www.startup4kids.nl/hardloopreizen/</a>
                Of neem contact met mij op! 
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="journey-data-container">
            <h2>
              Wanneer
            </h2>
            <ul class="data-list list-unstyled">
             <li>
              <span class="identifier"><i class="fas fa-calendar-alt"></i>Data:</span> Van zaterdag 10 t/m woensdag 21 november 2018 & november 2019
            </li>
            <li>
              <span class="identifier"><i class="fas fa-clock"></i>Duur:</span> 12 dagen 
            </li>
          </ul>
          <h2>
            Locatie
          </h2>
          <ul class="data-list list-unstyled">
            <li>
              <span class="identifier"><i class="fas fa-map-marker"></i>Waar:</span> Ethiopië: Addis Ababa, Bekoji, Bale Mountains, Hawassa  
            </li>
            <li>
              <span class="identifier"><i class="fas fa-compass"></i>Aantal km:</span> 10 km op 2.500m hoogte
            </li>
          </ul>
          <h2>
            Deelnemen
          </h2>
          <ul class="data-list list-unstyled">
            <li>
              <span class="identifier"><i class="fas fa-user"></i>Voor wie:</span> Iedereen die van hardlopen houdt, de Ethiopische cultuur wil leren kennen en bij wil 
              dragen aan het onderwijsproject van StartUp4kids 
            </li>
            <li>
              <span class="identifier"><i class="fas fa-users"></i>Deelnemers:</span> minimaal 8, maximaal 14 personen per reis
            </li>
            <li>
              <span class="identifier"><i class="fas fa-calendar-check"></i>Inschrijving:</span> Je kunt je inschrijven als individu, met een groep of met een bedrijfsteam
            </li>
          </ul>
          <h2>
            Details
          </h2>
          <ul class="data-embedded-list">
            <li class="first-level">
              <span class="identifier"><i class="fas fa-globe"></i>Wat:</span>
              <ul>
                <li>Je bezoekt de onderwijsprogramma’s, zodat je met eigen ogen kunt zien waar het sponsorgeld aan 
                  besteedt wordt
                </li>
                <li>
                  Je doet mee aan de ‘Great Ethiopian Run’, het grootste hardloopevenement van Afrika
                </li>
                <li>
                  10km hardlopen op 2.500m hoogte
                </li>
                <li>
                  Je maakt kennis met hardlooplegende Haile Gebreselassie
                </li>
                <li>
                  Je traint met professionele hardloopgidsen
                </li>
                <li>
                  Je bezoekt de plaats Bekoji waar de wereldberoemde atleten vandaan komen en waar je
                </li>
                <li>
                  met je toekomstig hardlooptalent gaat trainen
                </li>
                <li>
                  Je ervaart de Ethiopische cultuur samen met de lokale bevolking
                </li>
                <li>
                  Je maakt kennis met de prachtige natuur van Ethiopië in Bale Mountains en Lake Hawassa
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :after_js do %>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    console.log("DOM fully loaded and parsed");
    activateCarousel();
    $('.swipebox').swipebox();
  });
</script>
<% end %>