// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$gray: #3c3c3b;
$light-gray: #F4F4F4;


$orange: #e8841e;
$green: #6eb35d;
$dark-gray: #706f6f;
$brown: #84502c;
$purple: #60217b;

.purple {
  color: $purple;
}