.marged {
  margin: 40px 0;
}

strong {
  font-weight: 600;
}

.inspiration-text {
  p {
    color: $purple;
    font-family: "Como", "Helvetica", "sans-serif";
    font-weight: 500;
    font-size: 18px;
  }
}
.marged-more {
  margin: 80px 0;
}

p {
  line-height: 23px;
  font-weight: 300;
}

// .bedrijf-aanpassing {
//   p:nth-child(2) {
//     color: $gray;
//   }
// }

.two-columns-text-left {
  h2 {
    color: $purple;
    font-weight: bold;
  }
  text-align: left;
}

@media (max-width: 768px) {
  .two-columns-text-left {
  column-count: 1;
}
}

@media (min-width: 769px) {
    .two-columns-text-left {
  column-count: 2;
}
}
