.marged {
  margin: 40px 0;
}

b, strong {
  font-weight: 600 !important;
}

.inspiration-text {
  p {
    font-family: "Como", "Helvetica", "sans-serif";
    font-weight: 500;
    font-size: 18px;
  }
}

.gray-inspiration-text {
  text-align: center;
  h2 {
    color: $green;
    font-weight: bolder;
    margin-bottom: 8px;
  }
}
.marged-more {
  margin: 80px 0;
}

p {
  line-height: 23px;
  font-weight: 300;
}

.two-columns-text-left {
  h2 {
    color: $purple;
    font-weight: bold;
  }
  text-align: left;
}

@media (max-width: 768px) {
  .two-columns-text-left {
    column-count: 1;
  }
}

@media (min-width: 769px) {
  .two-columns-text-left {
    column-count: 2;
  }
}
