.marged {
  margin: 40px 0;
}

.inspiration-text {
  p {
    color: $purple;
    font-family: "Como", "Helvetica", "sans-serif";
    font-weight: 500;
    font-size: 18px;
  }
}
.marged-more {
  margin: 80px 0;
}

p {
  line-height: 21px;
  font-weight: 300;
}

.bedrijf-aanpassing {
  p:nth-child(2) {
    color: $gray;
  }
}

.two-columns-text-left {
  column-count: 2;
  text-align: left;
}