.simple-card-header {
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
  p {
    margin: 0;
  }
  h2 {
    color: $green;
    font-weight: bolder;
    margin-bottom: 8px;
  }
  .avatar {
    margin: 10px auto;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  strong {
    font-weight: 700;
  }
}

.simple-card.no-p-space {
  p {
    margin: 0;
  }
}

.simple-card {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    flex: 1 0 auto;
    line-height: 21px;
  }
  h3 {
    color: $purple;
    font-weight: bolder;
    margin-bottom: 4px;
    font-size: 20px;
  }
}

.simple-card .simple-card-image {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.simple-card-header-spacing {
  h2 {
   margin-bottom: 50px;
   margin-top: 0;
 }
}
