@import 'core';
@import 'animate';
@import 'autoheight';
@import 'lazyload';
@import 'video';

.carousel-image {
  margin: 0 30px;
  background-size: cover;
  background-position: center;
  .avatar {
    margin: 10px auto;
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
}

.owl-custom-nav {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  color: $purple;
}